.footer {
    border-top: 1px solid white;
    margin-top: 200px;
    margin-bottom: 60px;
    
   &__Container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 39px;
    

    &__title{
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.333px;
        margin-bottom: 20px;
        
        
    }

    &__Group{

    }
}
}